@import url("http://fonts.cdnfonts.com/css/post-no-bills-jaffna");
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);

body
{
    margin: auto;
    font-family: "PT Sans";
    color: white;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* Reusable Styles */

.logo {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: "Post No Bills Jaffna";
    white-space: nowrap;
}

.title {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-family: "Playfair Display";
}

.top-center {
    background-size: cover;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    flex-direction: column;
}


/* Header */

header {
    color: gray;
    position: fixed;
    width: 100%
}

.pre-header {
    background-color: black;
}

.pre-header-container {
    height: 44px;
    font-size: 12px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.contact-container {
    display: flex;
    justify-content: row;
    gap: 12px;
}

.login-container {
    display: flex;
    justify-content: row;
    gap: 12px;
}

.header-link {
    color: gray;
    text-decoration: none;
}

.main-header {
    background-color: #0F0F0F;
}

.main-header-container {
    height: 80px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.logo-top {
    font-size: 36px;
    margin-right: 48px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    margin-top: 0px;
    height: 36px;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 14px;
    height: 18px;
}

.nav-button {
    text-decoration: none;
    list-style-type: none;
    color: gray;
    margin-top: 0px;
    height: 36px;
    padding: 30px 20px;
    text-transform: uppercase;
    font-size: 14px;
    height: 18px;
    white-space: nowrap;
}

.nav-button:hover {
    background-color: #1F1F1F;
    color: white;
}

/* Body */

.first-container {
    justify-content: center;
    padding-top: 1px;
    margin-top: -1px;
    height: 934px;
    width: 100%;
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(icons/gay-pride.jpg) no-repeat 57% 40%;
    background-size: cover;
    gap: 10%;

}

.rect {
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    width: 320px;
    height: 320px;
    border: 4px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

}

.line {
    margin-left:auto;
    margin-right: auto;
    height: 2px;
    width: 60%;
    background-color: white;
}

.logo-center {
    font-size: 64px;
    line-height: 90%;
}

.text-center {
    width: 38%;
    font-size: 16px;
    line-height: 150%;
    color: white;
}

.second-container {
    height: 730px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.collection-container {
    justify-content: flex-start;
    text-transform: uppercase;
    height: 100%;
    width: 55%;
}

.profiles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    gap: 32px;
    margin-top: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.showcase-container {
    background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(icons/gay-man.jpg) no-repeat 57% top;
    background-size: cover;
    height:100%;
    width: 45%;
    justify-content: flex-end;
}

.find-guys {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    gap: 32px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

.sexy-man {
    width: 260px;
    height: 325px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
  }

.profiles {
    display: flex;
    gap: 32px;
    text-align: left;
    font-family: "Playfair Display";
}

.profile-container > p {
    font-size: 20;
}

.profile-container > span {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 16;
    font-weight: bold;
}

.button {
    border: 2px solid white;
    background-color: rgba(255, 0, 0, 0);
    font-weight: bold;
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
    width: 140px;
    text-transform: uppercase;
}

